body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh; 
    background: linear-gradient(rgb(131, 100, 225), rgb(76, 120, 173));
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
.wrapper{
    display: flex;
    background: rgba(225, 225, 225, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    max-width: 100%; 
    padding: 20px;
  }
.wrapper:hover{
    box-shadow:30px #b595df;
}
.wrapper h2{
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}
.email {
    position: relative;
    margin-top: 30px;
    appearance: none;
}

.email label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 17px;
    pointer-events: none;
    transition: 0.3s ease;
}

.email input {
    width: 400px;
    height: 50px;
    padding: 0 15px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff;
    color: #02095b;
    font-size: 17px;
    outline: none;
}
.email input:focus + label,
.email input:valid + label {
  transform: translateY(-250%);
  color: rgb(254, 230, 255);
}
button {
    width: 400px;
    height: 50px;
    padding: 5px;
    border-radius: 25px;
    background-color: #271930;
    color: #ffffff;
    font-size: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    font-size: 17px;
    margin-left: 13px;
}

button:hover {
    background: rgba(225, 225, 225, 0.2);
    color: #f8fab1;
}
.login{ 
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-left: 88px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.wrapper a{
    color: #f8fab1;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.wrapper a:hover{
    color: rgb(17, 0, 72);
}
@media (max-width: 1530px) {
    .wrapper{
        margin-right: 35px;
    }
    
}